/* app css stylesheet */

h2 {
  font-size: 12px;
}

span {
  color: #8c6a0c;
  font-size: 40px;
  border-bottom-style: solid;
  border-left-style: solid;
}

button {
  color: red;
  background-color: black;
  border-color: red;
}

h1 {
  font-size: 25px;
}

img {
  width: 400px;
  height: 400px;
}


/*potential animation:*/

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.check-element {
  border: 1px solid black;
  opacity: 1;
  padding: 10px;
}
